<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"">
    <title>Checkboard</title>
</head>

<body>



    <table>

    {% for i in range(0,row):%}

    <tr>

    {% for j in range(0,col):%}
    {% if (i+j)%2==0 : %}
    <td style=" background-color: {{color0}};">
    </td>
    {% else %}
    <td style=" background-color: {{color1}};"></td>
    {%endif%}

    {% endfor %}
    </tr>


    {% endfor %}

    </table>

    </body>

</html>